* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: #39FF14;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 72px;
}

.content {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container span {
    font-size: 128px;
}

.menu button {
    background-color: black;
    color: #39FF14;
    border: #39FF14 1px solid;
    padding: 20px;
    width: 180px;
    font-size: 36px;
}

.menu button:hover {
    background-color: #39FF14;
    color: black;
}

.stepDiv {
    margin: 20px;
}

.stepDiv span {
    font-size: 36px;
}

.stepDiv input {
    background-color: black;
    color: #39FF14; 
    border: #39FF14 1px solid;
    padding: 20px;
    font-size: 28px;
} 
